* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
}

.image-gradient {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;

}

.layer-blur {
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}

.container {
    width: 100;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 1rem auto;
    padding: 0.8rem 2rem;
    width: 90%;

    border-radius: 50px;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.1);

    box-shadow: 
        0 0 20px rgba(168, 85, 247, 0.15),
        inset 0 0 10px rgba(255, 255, 255, 0.05);

    position: sticky;
    top: 10px;
    z-index: 999;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 300;

}

nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;

}

nav a {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;

}

nav a:hover {
    color: #a7a7a7;
}

.btn-signing {
    background-color: #a7a7a7;
    color: black;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    cursor: pointer;
    text-decoration: none;
}

.btn-signing:hover {
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
}

.content {
    max-width: 40rem;
    margin-left: 5%;
    z-index: 999;

}

.tag-box {
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #656565, #7f42a7, #6600c5, #5300a0, #757575, #656565);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px white;
}

@keyframes animationGradient {
    to {
        background-position: 200%;
    }
}

.tag-box .tag {
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;

}

.tag-box .tag:hover {
    color: #5300a0;
}

.content h1 {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 2em o;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.343);

}

.description {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    max-width: 35rem;
    color: gray;

}

.buttons {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}
.btn-get-started {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid #2a2a2a;
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: white;
    background: transparent;
    cursor: pointer;
}

/* filling layer */
.btn-get-started::before {
    content: "";
    position: absolute;
    inset: 0;
    background: gray;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    z-index: -1;
}

/* hover */
.btn-get-started:hover::before {
    transform: scaleX(1);
}

.btn-get-started:hover {
    color: black;
    transform: translateY(-2px);
}
.btn-signing-main {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    background: transparent;
    color: white;
    border: 1px solid #2a2a2a;
    padding: 0.6rem 2.5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    cursor: pointer;
}


.btn-signing-main::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #a7a7a7;
    transform: scaleX(0);   
    transform-origin: left;
    transition: transform 0.3s ease;
    z-index: -1;
}


.btn-signing-main:hover::before {
    transform: scaleX(1);   
}


.btn-signing-main:hover {
    color: black;
}
.btn-signing-main:hover {
    transform: translateY(-2px);
}

.robot-3d{
    position: absolute;
    top: 0;
    right: -20%;
    
}

/*tab view*/
@media (max-width:1300px){
    header{
        padding: 1rem 0.5rem;

    }
    .content{
        margin-top: 85%;

    }
    .robot-3d{
        position: absolute;
        top: -20%;
        right: 2%;

        width: 100%;
        height: 100%;

        
        transform: translateY(80px) scale(1.4);  
        clip-path: inset(0 0 80px 0);
    }
    header {
        padding: 1rem 2rem;
    }

    nav {
        display: flex;
        gap: 1.5rem;
    }

    nav a {
        font-size: 0.75rem;
        padding: 0.4rem 0.8rem;
    }

    .btn-signing {
        padding: 0.5rem 1.2rem;
        font-size: 0.8rem;
    }
}


/*phn view*/
@media (max-width:1300px){
    header{
        padding: 1rem 0.1rem;
    }
    nav{
        display: none;
    }
    header{
        font-size: 2rem;

    }
    .btn-signing{
        padding: 0.6rem 1.5rem;

    }
    .content{
        margin-top: 25rem;

    }
    .robot-3d{
        scale:0.5;
        top:-25%;
        right:0;
        transform: translateY(100px) scale(1.6);
        transform-origin: center;
    }
    .content{
        max-width:30rem;
        margin-left:10%;
    }
    .tag-box{
        width:12rem;

    }
    .content h1{
        font-size: 2.5rem;
    }
    .desc{
        font-size: 1rem;
    }
    .btn-get-started{
        font-size: 0.8rem;
        padding: 0.8rem 1.2rem;
    }
    .btn-signing-main{
        font-size:0.8rem;
        padding:0.8rem 2rem;
    }
    nav {
        position: absolute;
        top: 80px;
        right: 5%;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        padding: 1rem;

        background: rgba(255,255,255,0.05);
        backdrop-filter: blur(10px);
        border-radius: 20px;

        border: 1px solid rgba(255,255,255,0.1);

        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;

        transition: all 0.3s ease;
    }

    nav.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .menu-toggle {
        display: block;
    }

}

.logo {
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.08em;

    
    background: linear-gradient(90deg, #ffffff, #a855f7, #7f42a7, #ffffff);
    background-size: 200% auto;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    
    animation: logoFlow 10s linear infinite, glowPulse 4s ease-in-out infinite;

   
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}


@keyframes logoFlow {
    0% { background-position: 0% center; }
    100% { background-position: 200% center; }
}


@keyframes glowPulse {
    0%, 100% {
        text-shadow: 0 0 8px rgba(168, 85, 247, 0.25);
    }
    50% {
        text-shadow: 0 0 18px rgba(168, 85, 247, 0.45);
    }
}


.logo::after {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;

    width: 60%;
    height: 100%;

    background: linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,0.6),
        rgba(168,85,247,0.4),
        transparent
    );
    border-radius: 50px; 

    filter: blur(8px); 

    transform: skewX(-20deg);
    opacity: 0;
}


.logo:hover::after {
    animation: magicSweep 1.2s ease forwards;
}


@keyframes magicSweep {
    0% {
        left: -120%;
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        left: 120%;
        opacity: 1;
    }
    100% {
        left: 150%;
        opacity: 0;
    }
}


.nav-glass {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}


.nav-glass a {
    position: relative;
    padding: 0.5rem 1.2rem;

    font-size: 0.85rem;
    letter-spacing: 0.12em;
    text-decoration: none;
    color: #cfcfcf;

    border-radius: 999px;

    
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    border: 1px solid rgba(255,255,255,0.08);

    transition: all 0.3s ease;
    overflow: hidden;
}
nav a {
    letter-spacing: 0.15em;
}
.nav-glass a:hover {
    color: white;

    transform: translateY(-2px);

    background: rgba(168, 85, 247, 0.15);

    box-shadow: 
        0 0 12px rgba(168, 85, 247, 0.4),
        inset 0 0 6px rgba(255,255,255,0.1);
}
.nav-glass a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;

    width: 60%;
    height: 100%;

    background: linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,0.4),
        transparent
    );

    transform: skewX(-20deg);
    opacity: 0;
}


.nav-glass a:hover::before {
    animation: navShine 0.8s ease;
}

@keyframes navShine {
    0% {
        left: -120%;
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        left: 120%;
        opacity: 0;
    }
}
.nav-glass a:active {
    transform: scale(0.96);
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}
/* MOBILE NAV */
.mobile-nav {
    display: none;
}

@media (max-width:768px){

    .mobile-nav {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        gap: 1rem;

        padding: 0.6rem 1rem;

        border-radius: 50px;

        background: rgba(255,255,255,0.05);
        backdrop-filter: blur(12px);

        border: 1px solid rgba(255,255,255,0.1);

        z-index: 999;
    }

    .mobile-nav a {
        text-decoration: none;
        color: #cfcfcf;
        font-size: 0.75rem;
        letter-spacing: 0.1em;

        padding: 0.4rem 0.8rem;
        border-radius: 20px;

        transition: all 0.3s ease;
    }

    .mobile-nav a:hover {
        color: white;
        background: rgba(168,85,247,0.2);
    }
}
@media (min-width:768px) and (max-width:1200px){

    .robot-3d{
        transform: translateY(80px) scale(1.4);
        right: 0%;
        top: -20%;
    }

}